@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  margin: 0;
  background-color: #b5b5b6;
}

#app {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header header header' 'columns columns columns' 'array array array' 'buttons buttons buttons';
  height: calc(var(--vh, 1vh) * 100);
  grid-auto-rows: 1fr 7fr 1fr 1fr;
}

#app header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  text-shadow: 5px 5px 0 black;
  background: #380606;
  border-bottom: solid 1px black;
}

#app header h1 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: white;
}

#app header label {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: white;
  margin-bottom: 5px;
}

#app header #input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app header #input #numberItem {
  width: 20rem;
  margin-right: 5rem;
  margin-left: 2rem;
}

#app header #input #speedSlider {
  width: 20rem;
  margin-right: 5rem;
  margin-left: 2rem;
}

#app ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: columns;
  background-color: #eed9d9;
  margin: 2rem;
  padding-left: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: solid 1px black;
  -webkit-box-shadow: -10px 5px 3px #706b6b;
          box-shadow: -10px 5px 3px #706b6b;
}

#app ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #cf7d57;
  margin-right: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: "Roboto Slab", serif;
  width: 0;
}

#app #array {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: array;
  margin: 0;
  border-top: solid 1px black;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background: #6e8a65;
  border: solid 1px black;
}

#app #button-section {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: buttons;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #380606;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#app #button-section button {
  background-color: #ece1e1;
  margin: 1rem;
  font-size: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: black;
  font-family: "Roboto Slab", serif;
  padding: 0.5rem;
  -webkit-transition: all 0.1s ease 0.1s;
  transition: all 0.1s ease 0.1s;
  border: none;
}

#app #button-section button:hover {
  background-color: #ad3a3a;
  color: white;
}

#app #button-section button:disabled {
  background-color: #c07878;
  opacity: 0.7;
  color: white;
}

#app #button-section #sortButton {
  background-color: #164614;
  /* font-weight: bolder; */
  color: white;
  border-radius: 2rem;
  border-top-left-radius: 8rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 8rem;
}

#app #button-section #sortButton:hover, #app #button-section #sortButton:disabled {
  background-color: #318638;
}

#app #button-section .button-selected {
  background-color: #973b3b;
  color: white;
}

@media (max-width: 600px) {
  #app header h1 {
    font-size: 5rem;
  }
  #app header label {
    font-size: 4rem;
  }
  #app header #input #numberItem {
    width: 20rem;
  }
  #app header #input #speedSlider {
    width: 20rem;
  }
  #app #button-section button {
    font-size: 4rem;
    width: 44%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}
